{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

<!-- Hello! -->
	<style type="text/css">
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
		#titlePlate {
			background: #E29578;
		}

		.parallelogram {
			width: 100px;
			height: 150px;
			background: #f1f1f1;
			padding: 5px;
			margin: 10px 10px 0px 10px;
            transform: skew(0deg);
            position: relative;
		}
        .parallelogramLarge {
            width: 120px;
			height: 200px;
			background: #f1f1f1;
			padding: 5px;
			margin: 10px 10px 10px 10px;
            transform: translateY(-35px) scale(1.05);
            filter: drop-shadow(5px 5px 10px black);
            position: relative;
            z-index: -1;
        }
        .parallelogramLong {
            width: 800px;
			height: 180px;
			padding: 10px 0 10px 0;
			margin: 10px 10px 10px 10px;
            transform: skew(-20deg) translateY(-30px) scale(1.05);
            filter: drop-shadow(5px 5px 10px black);
            position: relative;
        }
        
	</style>
</head>
<body>
	<div class="container-fluid">
        <div class="row align-items-center" id = 'titlePlate' style = "border: 5px solid #907f9f;">
			<div class="col-2">
				<a id = "exitColorPicker" style = "background-color: #006d77" href="new_interaction" class = 'btn btn-secondary d-flex justify-content-center' role = 'button' aria-pressed = 'true'>
					<svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
				</a>
			</div>
			<div class="col-10 d-flex justify-content-center" style = "border-left: 5px solid #907f9f">
				<h1 style = "font-size: 7.2rem; color: #006d77;"> Color Picker </h1>
			</div>
        </div>
	</div>
	<div class="container-fluid" style="height: 91vh; background-image: url(./../static/coloring/images/Gallery.jpeg); background-size: 100% 100%;">
        <div style="padding: 10px 50px 30px 50px;">
            <div class = "container-fluid">
                <div id = "selectedColorDisplay" class = "row d-flex justify-content-center align-items-center" style = "border: 5px solid #000000; height: 120px">
                    <h1 style = "font-size: 4.5rem; text-shadow: -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF, 2px 2px 0 #FFF; color: black;"> Selected Color </h1>
                </div>
            </div>
        </div>
        <div style="padding: 18px 0px 0px 50px;">
            <div class = 'container-fluid' style="height: 78vh">
                <div class = "row parallelogramLong" style = "background-color: rgba(255, 0, 0, 0.26); height: 14%">
                    <div id = "#FF0000" onclick = "color('#FF0000')" class = "col parallelogram" style = 'background-color: #FF0000' ></div>
                    <div id = "#FF8181" onclick = "color('#FF8181')" class = "col parallelogram" style = 'background-color: #FF8181'></div>
                    <div  id = "#9C0303" onclick = "color('#9C0303')" class = "col parallelogram" style = 'background-color: #9C0303'></div>
                </div>
                <div class = "row parallelogramLong" style = "background-color: rgba(255, 138, 0, 0.26); height: 14%">
                    <div id = "#FF8A00" onclick = "color('#FF8A00')" class = "col parallelogram" style = 'background-color: #FF8A00'></div>
                    <div id = "#FFC581" onclick = "color('#FFC581')" class = "col parallelogram" style = 'background-color: #FFC581'></div>
                    <div id = "#904E00" onclick = "color('#904E00')" class = "col parallelogram" style = 'background-color: #904E00'></div>
                </div>
                <div class = "row parallelogramLong" style = "background-color: rgba(250, 255, 0, 0.26); height: 14%">
                    <div id = "#FAFF00" onclick = "color('#FAFF00')" class = "col parallelogram" style = 'background-color: #FAFF00'></div>
                    <div id = "#FFF492" onclick = "color('#FFF492')" class = "col parallelogram" style = 'background-color: #FFF492'></div>
                    <div id = "#A99801" onclick = "color('#A99801')" class = "col parallelogram" style = 'background-color: #A99801'></div>
                </div>
                <div class = "row parallelogramLong" style = "background-color: rgba(5, 255, 0, 0.26); height: 14%">
                    <div id = "#05FF00" onclick = "color('#05FF00')" class = "col parallelogram" style = 'background-color: #05FF00'></div>
                    <div id = "#AEFF92" onclick = "color('#AEFF92')" class = "col parallelogram" style = 'background-color: #AEFF92'></div>
                    <div id = "#009806" onclick = "color('#009806')" class = "col parallelogram" style = 'background-color: #009806'></div>
                </div>
                <div class = "row parallelogramLong" style = "background-color: rgba(0, 163, 255, 0.26); height: 14%">
                    <div id = "#00A3FF" onclick = "color('#00A3FF')" class = "col parallelogram" style = 'background-color: #00A3FF'></div>
                    <div id = "#9CDBFF" onclick = "color('#9CDBFF')" class = "col parallelogram" style = 'background-color: #9CDBFF'></div>
                    <div id = "#0075B7" onclick = "color('#0075B7')" class = "col parallelogram" style = 'background-color: #0075B7'></div>
                </div>
                <div class = "row parallelogramLong" style = "background-color: rgba(158, 0, 255, 0.26); height: 14%">
                    <div id = "#9E00FF" onclick = "color('#9E00FF')" class = "col parallelogram" style = 'background-color: #9E00FF'></div>
                    <div id = "#DDA6FF" onclick = "color('#DDA6FF')" class = "col parallelogram" style = 'background-color: #DDA6FF'></div>
                    <div id = "#4F0080" onclick = "color('#4F0080')" class = "col parallelogram" style = 'background-color: #4F0080'></div>
                </div>
                <div class = "row parallelogramLong" style = "background-color: rgba(0, 0, 0, 0.26); height: 14%">
                    <div id = "#000000" onclick = "color('#000000')" class = "col parallelogram" style = 'background-color: #000000'></div>
                    <div id = "#838383" onclick = "color('#838383')" class = "col parallelogram" style = 'background-color: #838383'></div>
                    <div id = "#FFFFFF" onclick = "color('#FFFFFF')" class = "col parallelogram" style = 'background-color: #FFFFFF'></div>
                </div>
	        </div>
        </div>
    </div>

<script>
    window.onload = function() {
        var currentColor = sessionStorage.getItem("color");
        if (currentColor == null) {
            currentColor = "#FF0000";
        }
        document.getElementById("selectedColorDisplay").style.backgroundColor = currentColor;
        document.getElementById(currentColor).className = "col parallelogramLarge";
    }
	var savedColor;
    function color(hex) {
        document.getElementById(hex).className = "col parallelogramLarge";
    	savedColor = hex; 
        document.getElementById("selectedColorDisplay").style.backgroundColor = hex;
        deselect();
        saveToNewInteraction();
 	}
    const allColors = ["#FF0000", "#FF8181", "#9C0303", 
                    "#FF8A00", "#FFC581", "#904E00",
                    "#FAFF00", "#FFF492", "#A99801", 
                    "#05FF00", "#AEFF92", "#009806",  
                    "#00A3FF", "#9CDBFF", "#0075B7",
                    "#9E00FF", "#DDA6FF", "#4F0080", 
                    "#000000", "#838383", "#FFFFFF"
                    ];
    function deselect() {
        for (let i = 0; i < 21; i++) {
            if (savedColor != allColors[i]) {
                var currColor = allColors[i];
                document.getElementById(currColor).className = "col parallelogram";
            }
        }
	}
    function saveToNewInteraction() {
        sessionStorage.setItem("color", savedColor);
    }
</script>
</body>
</html>
