{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>
	  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
	  <link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
	</style>

	<script type="text/javascript" canvas="canvas">
		var pencil, fill;
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');


			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			

			

			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    // var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    // if (hit) {
				    // 		// Color pallette keeps track of the full history of colors, though we
				    // 		// only color in with the most-recent color.
				    //     hit.item.fillColor = cp.history[cp.history.length - 1];
				    // }
				}
				tool.onMouseDrag = function (event) {
					randoCircle.position = event.point;
					path = new Path();
					stamp = new Path.Circle(event.point, 30);
					stamp.fillColor = new Color({
					gradient: {
						stops: [a, b],
						radial: true,
					},
						origin: event.point,
						destination: randoCircle.bounds.topCenter
					}
				);
				}
			}

			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				with(paper) {
					var point1 = new Point(100, 100);
					var point2 = new Point(100, 0);

					var a = new Color(1,0,0,1);
					var b = new Color(0,1,0,1);

					var myPath = new Path();
					myPath.strokeColor = "purple"

					myPath.add(point1, point2);
					myPath.add(new Point(200, 100));
					myPath.add(point1);
					// myPath.fillColor = "green";
					pencil = new Tool();
					var paths = [];
					var picture = new Group();
					var curPath = null;


					pencil.onMouseDown = function(event) {
						paths.push(new Path());
						curPath = paths[paths.length - 1];
						curPath.strokeColor = "purple";
						
						console.log("hi");
					}
					pencil.onMouseDrag = function(event) {
						curPath.add(event.point);
					}
					pencil.onMouseUp = function(event) {
						curPath.closed = true;
						curPath.fill = true;
						curPath.fillColor = "red";
						curPath.fillColor.alpha = .0000001; //This is the best workaround I've ever devised. -Nicholas
						picture.addChild(curPath);
						console.log(picture.children)
					}

					fill = new Tool();
					fill.onMouseDown = function(event) {
						console.log("clicked fill");
						var hit = picture.hitTest(event.point, { tolerance: 10, segments: true, stroke: true, fill: true});
						if (hit) {
							hit.item.fillColor = "black";
						} else {
							console.log("no hit")
						}
					}

				}
			}

			// Set up the mandala interactivity.
			init(true);
		}
	</script>
</head>
<body>
	<a href="#" onclick="pencil.activate();">Pencil</a>
    <a href="#" onclick="fill.activate();">fill</a>
	<canvas id="myCanvas" width="750px" height="750px"></canvas>
	<div id="color-palette"></div>
</body>
</html>
