{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
<!-- Hello! -->
<style type="text/css">
	#color-palette {
		width: 300px;
		background-color: #f1f1f1;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		top: 0;
	}

	.swatch {
		width: 24px;
		height: 24px;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		border-radius: 12px;
		margin: 3px;
	}

	#myCanvas {
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.padButton {
    background-color: #E29578;
    color: black;
    border-width: .vh;
    border-style: solid;
    border-color: #907f9f;
    font-size: 5vh;
    font-weight: 900;
    text-align: center;
    line-height: 16.6vw;
	}

	.padIcon {
    	height: 50px;
	}

	#psheet {
    position: absolute;
    top: 11vh;
    left: 4vw;
    height: 75vh;
    width: 92vw;
    background-color: #fdfcdc;
    transform: rotate(-2.1deg);
	}

	.icon {
    position: relative;
    padding-top: 5vh;
	}

	#undoButton {
    color: rgba(0, 0, 0, .5);
	}

	#redoButton {
    color: rgba(0, 0, 0, .5);
	}

	.colorButton {
    color: black;
    text-shadow: -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF, 2px 2px 0 #FFF;
    border-width: .3vh;
    border-style: solid;
    border-color: #006d77;
    text-align: center;
    font-size: 5.5vw;
    line-height: 16.6vw;
	}

	.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: fbfbdb;
    /* Fallback color */
    background-color: rgba(251, 251, 219, 0.4);
    /* Black w/ opacity */
	}


	/* Modal Content/Box */
	.modal-content {
    	background-color: #fbfbdb;
    	margin: 15% auto;
    	/* 15% from the top and centered */
    	border: 1px solid #888;
    	width: 80%;
	}

	.close:hover,
	.close:focus {
    	color: black;
    	text-decoration: none;
    	cursor: pointer;
	}
</style>

<script type="text/javascript" canvas="canvas">
	console.log("script 1 runs");
	var pencil, marker, highlighter, eraser, fill, nothing;
	function undo() {};
	function redo() {};
	function getPicJSON() {};
	function getPicGroupJSON() {};
	function getPreviousGroups() {};
	function getUndoneGroups() {};
	function clearImage() {};
	var canvas, saveCanvas;
	var mainScope, saveScope;
	var colorFromPicker;
	window.onload = function() {
		canvas = document.getElementById('myCanvas');
		saveCanvas = document.getElementById("saveCanvas");
		mainScope = new paper.PaperScope();
		saveScope = new paper.PaperScope();
		
		colorFromPicker = sessionStorage.getItem("color");
		if (colorFromPicker == null){
			colorFromPicker = "#FF0000";
		}
		$(".strokeColor").css("background-color", colorFromPicker);
		function init(custom){
			saveScope.setup(saveCanvas);
			mainScope.setup(canvas);
			mainScope.activate();
			console.log("running init");
			with(paper) {	
				var paths = [];
				var undonePaths = [];
				var previousGroups = [];
				var localPrevGroups = sessionStorage.getItem("previousGroups");
				try{
					previousGroups = JSON.parse(localPrevGroups);
					console.log(previousGroups);
				} catch {
					console.log("problem importing prev groups");
					var previousGroups = [];
				}
				var undoneGroups = [];
				var localUndoneGroups = sessionStorage.getItem("undoneGroups");
				try{
					undoneGroups = JSON.parse(localUndoneGroups);
				} catch {
					console.log("problem importing undone groups");
					undoneGroups = [];
				}
				var picture = new Group();
				try {
					picture.importJSON(sessionStorage.getItem("currentPic"));
					console.log(picture);
				} catch {
					console.log("problem importing pic");
					// picture = new Group();
				}
				if (undoneGroups == null) {
					undoneGroups = [];
				}
				if (previousGroups == null) {
					previousGroups = [];
				}
				if (undoneGroups.length != 0) {
					$('#redoButton').css("color", "black");
				}
				if (previousGroups.length != 0) {
					$('#undoButton').css("color", "black");
				}
				
				var curPath = null;

				function drawDown(event, width) {
					previousGroups.push(picture.exportJSON());
					// paths.push(new Path());
					// curPath = paths[paths.length - 1];
					curPath = new Path();
					curPath.strokeColor = colorFromPicker;
					curPath.strokeWidth = width;
					curPath.strokeCap = 'round';
					curPath.strokeJoin = 'round';
				}

				function eraseDown(event, width) {
					previousGroups.push(picture.exportJSON());
					// paths.push(new Path());
					// curPath = paths[paths.length - 1];
					curPath = new Path();
					curPath.strokeColor = "#fbfbdb";
					curPath.strokeWidth = width;
					curPath.strokeCap = 'round';
					curPath.strokeJoin = 'round';
				}

				function drawUp(event, closeDist) {
					if(event.point.getDistance(curPath.firstSegment.point) < closeDist) {
						curPath.closed = true;
						curPath.fill = true;
						curPath.fillColor = "red";
						curPath.fillColor.alpha = .000001; //This is the best workaround I've devised. -Nicholas
					}
					picture.addChild(curPath);
					// undonePaths = [];
					undoneGroups = [];
					$('#redoButton').css("color", "rgba(0,0,0,0.5)");
					$('#undoButton').css("color", "black");
				}

				pencil = new Tool();
				pencil.onMouseDown = function(event) {
					drawDown(event, 5);
				}
				pencil.onMouseDrag = function(event) {
					curPath.add(event.point);
				}
				pencil.onMouseUp = function(event) {
					drawUp(event, 35);
					console.log(picture.children);
				}

				fill = new Tool();
				fill.onMouseDown = function(event) {
					
					console.log("clicked fill");
					var hit = picture.hitTest(event.point, { tolerance: 10, segments: true, stroke: true, fill: true});
					if (hit) {
						if (hit.item.closed){
							previousGroups.push(picture.exportJSON());
							undoneGroups = [];
							$('#redoButton').css("color", "rgba(0,0,0,0.5)");
							$('#undoButton').css("color", "black");
							hit.item.fillColor = colorFromPicker;
						}
						
					} else {
						console.log("no hit")
					}
					
				}

				marker = new Tool();
				marker.onMouseDown = function(event) {
					drawDown(event, 25);
				}
				marker.onMouseDrag = function(event) {
					curPath.add(event.point);
				}
				marker.onMouseUp = function(event) {
					drawUp(event, 90);
				}



				highlighter = new Tool();
				highlighter.onMouseDown = function(event) {
					drawDown(event, 25);
					curPath.opacity = .7;
				}
				highlighter.onMouseDrag = function(event) {
					curPath.add(event.point);
				}
				highlighter.onMouseUp = function(event) {
					drawUp(event, 90);
					curPath.lastSegment.opacity = 0;
				}
				var mask = new Group();
				//TODO: Make Eraser tool
				eraser = new Tool();
				eraser.onMouseDown = function(event) {
					previousGroups.push(picture.exportJSON());
					drawDown(event, 100);
					var erasedGroup = new Group();
					erasedGroup.children = picture.removeChildren();
					erasedGroup.blendMode = "source-out";
					erasedGroup.insert = false;

					mask = new Group({
						children: [curPath, erasedGroup],
						blendMode: 'source-over'
					})
				}
				eraser.onMouseDrag = function(event) {
					curPath.add(event.point);
				}
				eraser.onMouseUp = function(event) {
					picture = mask;
					undoneGroups = [];
					$('#redoButton').css("color", "rgba(0,0,0,0.5)");
					$('#undoButton').css("color", "black");
					console.log(picture.children);
				}
				nothing = new Tool();

				undo = function(){
					// if (paths.length == 0){
					// 	return;
					// }
					// var p = paths.pop();
					// undonePaths.push(p.exportJSON());
					// picture.removeChildren(picture.children.length - 1);
					// p.remove();

					if (previousGroups.length == 0){
						console.log("no previous groups");
						return;
					}
					if (previousGroups.length == 1) {
						undoneGroups.push(picture.exportJSON());
						picture.removeChildren();
						previousGroups.pop();
						$('#redoButton').css("color", "black");
						$('#undoButton').css("color", "rgba(0,0,0,0.5)");
						return;
					}
					$('#redoButton').css("color", "black");
					undoneGroups.push(picture.exportJSON());
					picture.importJSON(previousGroups.pop());

				}
				redo = function(){
					// if (undonePaths.length == 0) {
					// 	return;
					// }
					// var p = undonePaths.pop();
					// var np = new Path();
					// np.importJSON(p);
					// paths.push(np);
					// picture.addChild(np);

					if (undoneGroups.length == 0) {
						return;
					}
					previousGroups.push(picture.exportJSON());
					picture.importJSON(undoneGroups.pop());
					$('#undoButton').css("color", "black");
					if (undoneGroups.length == 0) {
						$('#redoButton').css("color", "rgba(0,0,0,0.5)");
					}
				}
				getPicJSON = function(){
					var pic = project.exportJSON();
					// var pic = picture.exportJSON();
					return pic;
				}
				getPicGroupJSON = function() {
					return picture.exportJSON();
				}
				getPreviousGroups = function() {
					return JSON.stringify(previousGroups);
				}
				getUndoneGroups = function(){
					return JSON.stringify(undoneGroups);
				}
				clearImage = function() {
					picture.removeChildren();
					undoneGroups = [];
					previousGroups = [];
				}
			}
		}

		// Set up the mandala interactivity.
		init(true);
		switch(sessionStorage.getItem("currentTool")) {
			case "pencil":
				pressPButton();
				break;
			case "marker":
				pressMButton();
				break;
			case "highlighter":
				pressHButton();
				break;
			case "eraser":
				pressEButton();
				break;
			case "fill":
				pressFButton();
				break;
			default:
				pressPButton();
		}
	}
	
</script>
</head>
<body style="overflow: hidden;">
	<div class="container-fluid" style="height: 100vh; background-image: url(./../static/coloring/images/pexels-fwstudio-172296.jpeg); background-size: 100% 100%;">
		<div class="row" style="padding-top: 0; margin-top: 0; height: 16.6vw">
			<div id = "homeButton" class="col-2 padButton" onclick="goHome()" onmouseover = "overPadButton('homeButton')" onmouseout = "outPadButton('homeButton')">
				<i class="bi bi-house-door-fill"></i>
			</div>
			<div id="undoButton" class="col-2 padButton" onclick="undo()" onmouseover = "overPadButton('undoButton')" onmouseout = "outPadButton('undoButton')">
				<i class="bi bi-arrow-counterclockwise"></i>
			</div>
			<div id = "redoButton" class="col-2 padButton" onclick="redo()" onmouseover = "overPadButton('redoButton')" onmouseout = "outPadButton('redoButton')">
				<i class="bi bi-arrow-clockwise"></i>
			</div>
			<div id="saveButton" class="col-2 padButton" onclick="saveClick()" onmouseover = "overPadButton('saveButton')" onmouseout = "outPadButton('saveButton')">
				<i class="bi bi-save2-fill"></i>
			</div>
			<div class="col-4 colorButton strokeColor" onclick="goToColorPicker()" onmouseover = "overPadButton('undoButton')" onmouseout = "outPadButton('undoButton')">
				Select Color
			</div>
		</div>
		<div id="psheet">
			<canvas id="myCanvas" width="750px" height="750px" style="width: 87vw; height: 73vh;"></canvas>
			<div id="newPage">
				<i class="bi bi-file-earmark-plus-fill"></i>
			</div>
			<!-- <a id = "newPage" class = 'btn btn-secondary d-flex justify-content-center' role = 'button' aria-pressed = 'true'>
				<!-- <i class="bi bi-stars"></i> -->
				<i class="bi bi-file-earmark-plus-fill"></i>
			</a> -->
		</div>
		
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content" style="width: 90%;">
				<div class="container-fluid" style="border-style: solid; border-width: .3vh;">
					<div class="row" style="font-size: 5vh; border-bottom-style: solid; border-width: .3vh; background: #ffddd2">
						<div class="col-2 modalClose" style="border-right-style: solid; border-right-width: .3vh; text-align: center; background-color: lightgray;"> X </div>
						<div class="col-10"> Save & Export</div>
					</div>
					<div class="row">
						<canvas id="saveCanvas" width="1000px" height="1400px" style="width: 100%; height: 100%;"></canvas>
					</div>
				</div>
				<a href = "/coloring/gallery" class = "btn d-flex justify-content-center" style="font-size: 5vh; background-color: #83c5be; border-style: solid; border-width: .3vh; border-color: #000000;" role = "button">
					<div class="row" onclick="saveToGallery(); saveDateToGallery()">
						<div class="col-12" style="text-align: center;">
							Save To Gallery
						</div>
					</div>
				</a>
			</div>
		</div>

		<div id="NPM" class="modal">
			<!-- Modal content -->
			<div class="modal-content" style="width: 90%; top: 25vh">
				<div class="container-fluid" style="border-style: solid; border-width: .3vh;">
					<div class="row" style="font-size: 5vh; border-bottom-style: solid; border-width: .3vh;">
						<div id="CloseNPM" class="col-2 modalClose" style="border-right-style: solid; border-right-width: .3vh; text-align: center; background-color: lightgray;"> X </div>
						<div class="col-10" style="font-size: 2.7vh; text-align: center; padding-top: 1.8vh;">This will discard the current picture</div>
					</div>
					<div class="row d-flex justify-content-center" onclick="clearImage(); newPageModal.style.display='none'" style="font-size: 5vh; background-color: #83c5be; border-style: solid; border-width: .3vh; border-color: #000000;">
						<div class="col-12" style="text-align: center;">
							Clear Image
						</div>
					</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="row" style="position: absolute; top: 80vh; left: 0; height: 20vh; width: 100vw;">
			<div class="col-1"></div>
			<div id="pencilDiv" class="col-2">
				<img id="pencilIcon" src ="{% static 'coloring/images/pencil.png' %}" alt="pencil" class="icon" style="width: 100%;"></img>
				<!-- <div id="pencilIcon" class = "icon" style="background-image: url(./../static/coloring/images/pencil.png); background-size: 100% 100%;">Pencil</div> -->
			</div>
			<div id="markerDiv" class="col-2">
				<img id="markerIcon" src ="{% static 'coloring/images/marker.png' %}" alt="marker" class="icon" style=" width: 100%;"></img>
				<!-- <div id="markerIcon" class = "icon">Marker</div> -->
			</div>
			<div id="highlighterDiv" class="col-2">
				<img id="highlighterIcon" src ="{% static 'coloring/images/highlighter.png' %}" alt="highlighter" class="icon" style="width: 100%;"></img>
				<!-- <div id="highlighterIcon" class = "icon">Highlighter</div> -->
			</div>
			<div id="eraserDiv" class="col-2">
				<img id="eraserIcon" src ="{% static 'coloring/images/eraser.png' %}" alt="eraser" class="icon" style="width: 100%;"></img>
				<!-- <div id="eraserIcon" class = "icon">Eraser</div> -->
			</div>
			<div id="fillDiv" class="col-3">
				<img id="fillIcon" src ="{% static 'coloring/images/fill.png' %}" alt="fill" class="icon" style="width: 100%; height: 30vh;"></img>
				<!-- <div id="fillIcon" class = "icon">Fill</div> -->
			</div>
			<!-- <div class="col-1"></div> -->
		</div>
	</div>
	<script type="text/javascript">
			var currToolButton = pressPButton;
			function pressMButton() {
				marker.activate();
				$(".icon").css("padding-top", "5vh");
				$("#markerIcon").css("padding-top", "0vh");
				currToolButton = pressMButton;
				sessionStorage.setItem('currentTool', "marker");
			}
			function pressHButton() {
				highlighter.activate();
				$(".icon").css("padding-top", "5vh");
				$("#highlighterIcon").css("padding-top", "0vh");
				currToolButton = pressHButton;
				sessionStorage.setItem('currentTool', "highlighter");
			}
			function pressEButton() {
				eraser.activate();
				$(".icon").css("padding-top", "5vh");
				$("#eraserIcon").css("padding-top", "0vh");
				currToolButton = pressEButton;
				sessionStorage.setItem('currentTool', "eraser");
			}
			function pressFButton() {
				fill.activate();
				$(".icon").css("padding-top", "5vh");
				$("#fillIcon").css("padding-top", "0vh");
				currToolButton = pressFButton;
				sessionStorage.setItem('currentTool', "fill");
			}
			function pressPButton() {
				pencil.activate();
				$(".icon").css("padding-top", "5vh");
				$("#pencilIcon").css("padding-top", "0vh");
				currToolButton = pressPButton;
				sessionStorage.setItem('currentTool', "pencil");
			}
			$('body').on("click", "#pencilDiv", pressPButton);
			$('body').on("click", "#markerDiv", pressMButton);
			$('body').on("click", "#highlighterDiv", pressHButton);
			$('body').on("click", "#eraserDiv", pressEButton);
			$('body').on("click", "#fillDiv", pressFButton);

			
			var picToSave;
			function saveClick(){
				picToSave = getPicJSON();
				console.log(picToSave);
				saveScope.activate();
				with(paper) {
					project.activeLayer.removeChildren();
					project.importJSON(picToSave);
					// var g = new Group();
					// g.importJSON(picToSave);
				}
				$("#saveCanvas").css("width", "100%");
				$("#saveCanvas").css("height", "100%");
				nothing.activate();
			}

			function saveState() {
				currentPic = getPicGroupJSON();
				prevGroups = getPreviousGroups();
				unGroups = getUndoneGroups();
				sessionStorage.setItem("currentPic", currentPic);
				sessionStorage.setItem('previousGroups', prevGroups); 
				sessionStorage.setItem('undoneGroups', unGroups); 
				
			}

			function goHome(){
				location.href = 'home';
			}

			function goToColorPicker(){
				location.href = "colorPicker";
			}

			window.onunload = function(){
				saveState();
			}

			//Base Modal code from W3school
			// Get the modal
			var modal = document.getElementById("myModal");

			// Get the button that opens the modal
			var btn = document.getElementById("saveButton");

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("modalClose")[0];

			// When the user clicks on the button, open the modal
			btn.onclick = function() {
				saveClick();
				modal.style.display = "block";
			}

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
				modal.style.display = "none";
				mainScope.activate();
				currToolButton();
			}

			function saveToGallery() {
				var savedPics = JSON.parse(localStorage.getItem("savedPics"));
				if (savedPics == null) {
					savedPics = [];
				}
				savedPics.push(picToSave);
				console.log(savedPics);
				localStorage.setItem("savedPics", JSON.stringify(savedPics));
				// location.href = 'gallery'
			}

			function saveDateToGallery() {
				var savedDates = JSON.parse(localStorage.getItem("savedDates"));
				if (savedDates == null) {
					savedDates = [];
				}
				var date = new Date();
				var [month, day, year] = [date.getMonth() + 1, date.getDate(), date.getFullYear()];
				var savedDate = "" + month + "-" + day + "-" + year;
				savedDates.push(savedDate);
				localStorage.setItem("savedDates", JSON.stringify(savedDates));
			}

			var newPageBtn = document.getElementById("newPage");
			var newPageModal = document.getElementById("NPM");
			var newPageModalClose = document.getElementById("CloseNPM");
			newPageBtn.onclick = function(){
				newPageModal.style.display = "block";
			}
			newPageModalClose.onclick = function(){
				newPageModal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
				if (event.target == newPageModal) {
					newPageModal.style.display = "none";
				}
			}

			function overPadButton(button) {
				prevGroups = getPreviousGroups();
				unGroups = getUndoneGroups();
				if (!(button == "undoButton" || button == "redoButton")) {
					document.getElementById(button).style.backgroundColor = "#FFDDD2";
				}
			}
			function outPadButton(button) {
				document.getElementById(button).style.backgroundColor = "#E29578";
			}
	</script>
</body>
</html>